<div class="bf-header-links">
  <a
    href="{{ config.repo_url }}"
    class="md-source bf-header-link bf-header-link--github"
    title="Backfield on GitHub"
    aria-label="Backfield on GitHub"
  >
    <span class="md-source__icon md-icon">
      {% include ".icons/fontawesome/brands/github.svg" %}
    </span>
    <span class="md-source__repository">Backfield</span>
  </a>
  <a
    href="https://localangle.co/"
    class="md-source bf-header-link"
    title="Local Angle"
    aria-label="Local Angle"
  >
    <span class="md-source__icon md-icon">
      <img src="{{ 'assets/icons/local-angle.svg' | url }}" alt="">
    </span>
    <span class="md-source__repository">Local Angle</span>
  </a>
</div>
